/* .card {
  margin: 0 auto;
  width: 30%;
  height: 0 auto;
  border-radius: 3px;
  box-shadow:
  0px 0px 7.1px rgba(0, 0, 0, 0.039),
  0px 0px 17.2px rgba(0, 0, 0, 0.057),
  0px 0px 32.3px rgba(0, 0, 0, 0.07),
  0px 0px 57.6px rgba(0, 0, 0, 0.083),
  0px 0px 107.8px rgba(0, 0, 0, 0.101),
  0px 0px 258px rgba(0, 0, 0, 0.14)
;
}
.head {
  width: 85%;
  padding-bottom: 4%;
  color: #aaa;
  margin: 0 auto;
  border-bottom: 2px solid #aaa;
}
.title {
  margin-top: -5%;
  margin-bottom: -3%;
}
div p {
  margin-bottom: -2%;
}
.content {
  width: 85%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
  font-size: 17px;
}
input {
  width: 20px;
  height: 20px;
}

button {
  border:none;
  margin-top: 20px;
  width: 100%;
  padding:15px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}
button:active {
  background-color: blue;
}
.countDown {
  margin: 0 auto;
  margin-bottom:1%;
  width: 30%;
  height: 0 auto;
}
.formath{
  margin:  0 auto;
  margin-top: 0;
  margin-bottom: 0;
} */

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}

.customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #23b0d3;
  color: white;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}
.del {
  background-color: red;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formData {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}
.titleCenter {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.tdCenter {
  text-align: center;
}
